# Ignora o Assets.zip (muito pesado para o GitHub)
/Assets.zip

# Ignora zips de update que o script possa ter deixado
/*.zip

# Protege os zips de mods (não ignora o que estiver em mods)
!/Server/mods/*.zip

# Ignora logs e caches temporários
/updater/
/temp/
/Server/logs/*.log
/Server/logs/*.gz
start.sh
start.bat
