services:
  hytale:
    image: ghcr.io/machinastudios/hytale
    # Mudamos para garantir que o container fique ligado MESMO se o chmod falhar
    entrypoint: >
      /bin/sh -c "
      (chmod +x /hytale/hytale-downloader-linux-amd64 || true) && 
      tail -f /dev/null"
    stdin_open: true
    tty: true
    ports:
      - "5520:5520/udp"
    volumes:
      # O Codespaces monta o projeto em /hytale
      - ..:/hytale
      - ../backups:/hytale/backups
      - ../mods:/hytale/mods
      - ../logs:/hytale/logs
      - ../universe:/hytale/universe
    environment:
      - SERVER_ACCEPT_EARLY_PLUGINS=true
      - SERVER_BIND=0.0.0.0:5520
