services:
  hytale:
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: >
      /bin/sh -c "
      (chmod +x /hytale/hytale-downloader-linux-amd64 || true) && 
      tail -f /dev/null"
    stdin_open: true
    tty: true
    ports:
      - "5520:5520/udp"
    volumes:
      - ..:/hytale
      - ../backups:/hytale/backups
      - ../mods:/hytale/mods
      - ../logs:/hytale/logs
      - ../universe:/hytale/universe
    environment:
      - SERVER_ACCEPT_EARLY_PLUGINS=true
      - SERVER_BIND=0.0.0.0:5520
