services:
  hytale:
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    # Permite o script e o executa no boot
    command: /bin/bash -c "chmod +x /hytale/start-hytale.sh && /hytale/start-hytale.sh"
    ports:
      - "5520:5520/udp"
    volumes:
      - ..:/hytale
    environment:
      - SERVER_ACCEPT_EARLY_PLUGINS=true
      - SERVER_BIND=0.0.0.0:5520
